@model IEnumerable<Library.Models.Todo>

@{
    ViewData["Title"] = "Edit Todo List";
}

<h1>@ViewData["TodoListTitle"]</h1>

<p>
    <a class="btn btn-success" asp-action="CreateTodo" asp-route-todoListId=@ViewData["TodoListId"].ToString()>Create A New Todo...</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Done?
            </th>
            <th>
                Todo
                @*@Html.DisplayNameFor(model => model.Description)*@
            </th>
            <!--<th>
                Done?-->
                @*@Html.DisplayNameFor(model => model.Done)*@
            <!--</th>-->
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Done)
                {
                    <a class="btn-sm btn-dark" style="color: white" asp-action="CheckTodo" asp-route-todoId=@item.Id.ToString()><b>X</b></a>
                }
                else
                {
                    <a class="btn-sm btn-dark" style="color: black" asp-action="CheckTodo" asp-route-todoId=@item.Id.ToString()><b><span style="opacity: 0">X</span></b></a>
                }
            </td>
            <td>
                <a asp-action="EditTodo" asp-route-todoId=@item.Id.ToString()>@item.Description</a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <a class="btn btn-danger" asp-action="DeleteTodo" asp-route-todoId=@item.Id.ToString() asp-route-todoListId=@ViewData["TodoListId"].ToString()>Delete Todo</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index" asp-controller="Todo">Return To My Todo Lists</a>
