@model TheBestTodoApp2020.Models.TodoIndexViewModel

@{
    ViewData["Title"] = "My Todo's";
}

@if (Model.User == null)
{
    <p>No user is logged in. Please Login:</p>
    <a asp-action="Login" asp-controller="User">Login</a>
}

else
{
    <h1>My Todo's - @Model.User.UserName</h1>

    <p>
        <a asp-action="CreateTodoList" asp-controller="Todo">Create new Todo List</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Todo list
                </th>

                <th>
                    % Done
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TodoLists)
            {
                <tr>
                    <td>
                        <a asp-action="EditTodoList" asp-route-todoListId=@item.Id.ToString()>@item.Title</a>
                    </td>
                    <td>
                            @{
                                string tempColor = "black";
                                string displayMsg = "";
                            }

                            @if (item.AmountOfDoneTodos < item.AmountOfTodos || item.AmountOfDoneTodos < 1)
                            {
                                if (item.AmountOfDoneTodos > 0)
                                {
                                    tempColor = "gold"; 
                                }
                                else tempColor = "red";
                            }

                            else if (item.AmountOfDoneTodos == item.AmountOfTodos)
                            {
                                tempColor = "green";
                                displayMsg = " - ALL DONE!";
                            }
                            @if (item.AmountOfTodos < 1)
                            {
                                displayMsg = " - NO TODO'S! ";
                            }

                            <p style="color: @tempColor"><b>@item.AmountOfDoneTodos / @item.AmountOfTodos @displayMsg</b></p>

                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="DeleteTodoList" asp-route-todoListId=@item.Id>Delete Todo List</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
