@model TheBestTodoApp2020.Models.TodoIndexViewModel

@{
    ViewData["Title"] = "My Todo's";
}

@if (Model.User == null)
{
    <p>No user is logged in. Please Login:</p>
    <a asp-action="Login" asp-controller="User">Login</a>
}

else
{
    <h1>My Todo's - @Model.User.UserName</h1>

    <p>
        <a asp-action="CreateTodoList" asp-controller="Todo">Create new todo list</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Todo Lists
                </th>

                <th>
                    All done?
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TodoLists)
            {
                <tr>
                    <td>
                        <a asp-action="EditTodoList" asp-route-todoListId=@item.Id.ToString()>@item.Title</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllDone)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
