@model IEnumerable<Library.Models.Category>

@{
    ViewData["Title"] = "My Categories";
}

<h1>My Categories - @ViewData["userName"]</h1>

<p>
    <a class="btn btn-success" asp-action="CreateCategory">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>
